// Specific CSS for your home-page
.nav-item {
  font-size: 13px;
}
body {
  background-color: #91A3B0;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.logo_white {
  height: 300px;
}
.logo_banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#banner {
  height: 500px;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), asset-url('victor-freitas-Pnm-9vBEQhk-unsplash');
  background-size: cover;
  background-position: center;
}
.btn-home {
  background-color: #91A3B0;
  border: none;
  font-size: 18px;
  font-style: bold;
  font-weight: 1000;
}
.btn-home:hover {
  background-color: #4599E5;
  border: none;
}

.card-explore {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('london2');
  height: 400px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin: 5px;
  margin-top: 20px;
  margin-right: 4px;
  border-radius: 2px;
}
  h1 {
    font-weight: 1000;
  }
 .card-category {
  background-size: cover;
  background-position: center;
  height:300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 20px;
}
h3{
  font-weight: 20px;
  text-align: center;
  font-style: bold;
}
#health {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('health_card');
}
#fitness {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('fitness_card');
}
#recipes {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('recipes_card');
}
