.new-restaurant-container {
  background-color: #E4F2F7;
  color: #3C3744;
}

.new-gym-container {
  background-color: #3C3744;
  color: #E4F2F7;
}

.col-form-label {
  display: none;
}

.filter-container {
  background-color: transparent;
  border: none;
}
