.profile-page-top {
  background-image: asset-url('profile-page.png');
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: top;
  border-bottom: 4px solid white;
}

@media(min-width:650px) {
  .profile-page-top {
    background-image: asset-url('profile-page-2.png');
    height: 380px;
    background-position: top;
    background-size: cover;
  }
}

.img-profile-avatar {
  width: 120px;
  height:120px;
  object-fit: cover;
  position: relative;
  top: -65px;
  border: 4px solid white;
  border-radius: 50%;
}
.info-section {
  position: relative;
  top: -70px;
  color: white;

}

.info-row {
  margin-bottom: -23px;
}

.nav-link {
  color: white;
}

.tab-pane h5 {
  color: white;
}
