.profile-page-top {
  background-image: asset-url('profile-page.png');
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: top;
  border-bottom: 4px solid white;
}

@media(min-width:650px) {
  .profile-page-top {
    background-image: asset-url('profile-page-2.png');
    height: 355px;
    background-position: top;
    background-size: cover;
  }
}

.img-profile-avatar {
  width: 120px;
  height:120px;
  object-fit: cover;
  position: relative;
  top: -65px;
  border: 4px solid white;
  border-radius: 50%;
}

.edit-icon{
  position: relative;
  top: -180px;
  right: -35px;
  font-size: 22px;
  color: white;
  text-shadow: 1px 1px 1px $blue;
  &:hover {
    color: $blue;
  }
}
.info-section {
  position: relative;
  top: -70px;
  color: white;

}

.info-row {
  margin-bottom: -23px;
}

.nav-link {
  color: white;
}

.tab-pane h5 {
  color: white;
}

#bookings-tab {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 16px;
}

#favorites-tab {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 16px;
}

#home-tab {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 16px;
  padding: 8px 8px;
}

#profile-tab {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 16px;
  padding: 8px 8px;
}

#contact-tab {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 16px;
  padding: 8px 8px;
}

.edit-dietary-text .form-check-label {
  color: $light-blue !important;
}

.edit-dietary-text .form-control:valid {
  border-color: $blue !important;
  box-shadow: 0 0 0 0.2rem rgba(68, 153, 229, 0.25)
}

