
  <div class="list-group m-3">
      <% @chatrooms.each do |chatroom| %>
        <%= link_to "#{chatroom.name}", chatroom_path(chatroom), class: "card m-2 rounded list-group-item #{'active' if chatroom == @chatroom}" %>
      <% end %>
  </div>


