<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/fitmapp/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/pages/category/Health---Wellness-Website/Fitmapp-100254108127279/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.pinterest.co.uk/fitmapp/" target="_blank"><i class="fab fa-pinterest-p"></i></a>
  </div>
  <div class="footer-copyright">
    © fitmapp
  </div>
</div>
