<div class="map-card">
  <h5 class="map-card-name"> <% if mix.is_a?(Restaurant) %>
    <%= link_to mix.name, restaurant_path(mix) %>
    <% else %>
    <%= link_to mix.name, gym_path(mix)%>
  <% end %> </h5>
  <p class="map-card-address"> <%= mix.address %> </p>
  <%= link_to "Directions", "https://www.google.com/maps/dir/?api=1&travelmode=walking&layer=traffic&destination=#{mix.latitude},#{mix.longitude}", class: "btn-small btn-primary p-2 rounded map-card-btn"", target: :_blank %>
</div>
