<h3>My Restaurant Bookings</h3>
<% current_user.restaurant_bookings.each do |booking| %>
<%= booking.restaurant.name %>
<%= link_to "Edit", edit_restaurant_booking_path(booking)%>
<%= link_to "Destroy", restaurant_booking_path(booking), method: :delete %>
<% end %>

<!-- <h3>My Gym Class Bookings</h3>
<%# current_user.class_bookings.each do |booking| %>
<%#= booking.gym_class.name %>
<%# end %> -->
