<div class="container shadow p-5 mt-5 mb-4 dietary-registration-container w-75">
    <%= simple_form_for current_user, url:dietary_requirements_path, method: :post do |f| %>
      <%= f.error_notification %>
        <div class="row d-flex justify-content-center text-center">
          <%= f.input :dietary_requirements,
                      as: :check_boxes,
                      collection: ["Vegan", "Vegetarian", "Keto", "Paleo", "Pescaritan", "Gluten-free", "Lactose-free", "Dairy-free"],
                      wrapper: :vertical_collection_inline
                      %>
        </div>

        <div class="row d-flex justify-content-center mt-3 pb-4">
          <%= f.button :submit, "Save", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>

<br>
