<div class="container justify-content-center w-50">
      <h1 class="pt-4 text-center">Add a new Dish</h1>

      <%= render "form", dish: @dish%>
  <br>
  <div class="back-to-restaurants">
    <%= link_to "Back to my restaurants", my_restaurants_path, class: "btn btn-primary" %>
  </div>
</div>
