<h2><%= restaurant.name %></h2>
<p><%= restaurant.address %></p>
<%= link_to "Directions", "https://www.google.com/maps/dir/?api=1&travelmode=driving&layer=traffic&destination=[restaurant.latitude],[restaurant.longitude]", class: "btn btn-primary", target: :_blank%>
