<div class="container justify-content-center w-75 new-gym-container mt-5 mb-5 p-5 shadow">
    <h3 class="p-4 text-center">Update Restaurant</h3>

    <%= render "form_restaurant", restaurant: @restaurant %>
</div>
<br>
<br>
