<div class="container justify-content-center w-75 new-gym-container mt-5 mb-1 p-4 shadow">
  <h2 class="p-4 text-center">New Restaurant</h2>

  <%= render "form_restaurant", restaurant: @restaurant %>
</div>


