<div class="container justify-content-center w-50">
      <h1 class="pt-4 text-center">Add a new Restaurant</h1>

      <%= render "form_restaurant", restaurant: @restaurant %>
  <br>
  <div class="back-to-restaurants">
    <%= link_to "Back to my restaurants", user_session_path, class: "btn btn-primary" %>
  </div>
</div>
