<h2><%= gym.name %></h2>
<p><%= gym.address %></p>
<%= link_to "Directions", "https://www.google.com/maps/dir/?api=1&travelmode=driving&layer=traffic&destination=[gym.latitude],[gym.longitude]", class: "btn btn-primary", target: :_blank %>
