<div class="container justify-content-center w-50">
      <h1 class="pt-4 text-center">Add a new Gym</h1>

      <%= render "form_gym", gym: @gym %>
  <br>
  <div class="back-to-gyms">
    <%= link_to "Back to my gyms", user_session_path, class: "btn btn-primary" %>
  </div>
</div>
