.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.stars img {
  height: 100%;
  width: 80px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-actions {
  font-size: 12px !important;
  a {
    color: $secondary !important;
  }
}


// card styling for cards on resturant show page

.card-img-top {
  height: 300px;
  object-fit: cover;
  margin-bottom: 8px;
}

.rest-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.rest-card-body {
  padding: 8px 16px 16px;
}

.fav-heart {
  color: #4599E5;
  font-size: 24px;
}

.fav-heart-index {
  color: #4599E5;
  font-size: 12px;
}

.dietary-show {
  margin: auto;
}
// card flip effect for the menu

.card-container {
    display: grid;
    perspective: 700px;
}

.card-flip, .card-container {
    transform-style: preserve-3d;
    transition: all 0.2s ease;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.back {
    transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}

.card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.4s ease;
}

.front {
    grid-area: frontAndBack;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
    background-color: white;
    font-size: 12px;
}

.classes-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


