.footer {
  background-color: #EDEDED;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: rgba(0,0,0,0.3);
  height: 3rem;
}

@media(min-width: 650px) {
  .footer-visitor {
    height: 4.5rem;
  }
}

.footer-links {
  display: flex;
  align-items: top;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
  &:hover {
    opacity: 1;
    color: #4599E5;
  }
}

.bottom-nav {
  background-color: $blue;
  height: 3rem;
  a {
    color: white;
  }
  .nav-item {
    font-size: 24px;
  }
}
