.navbar-lewagon {
  justify-content: space-between;
  background-color: #EDEDED;
  height: 90px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
.btn-login  {
    background: #4599E5;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s;
    border: 0;

    &:hover {
        background: #91A3B0;
        color: #3C3744;
        box-shadow: 0px 3px 5px #3C3744;
        padding: 0.5rem 1.5rem 0.5rem 0.5rem;

    }
}

