.navbar-search {
  background-color: #91A3B0;
  color: white;
  height: 42px;
}
.navbar-wagon-search {
  height: 32px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
.navbar-wagon-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  &:hover {
    color: #E6E6E6;
  }
}
.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  width: 130px;
  font-weight: lighter;
  color: #E6E6E6;
  border: none;
  background-color: transparent;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  &::placeholder {
    color: #E6E6E6;
  }
  &:focus {
    &::placeholder {
      color: #E6E6E6;
    }
  }
}
.social-media {
  margin-left: 26px;
  justify-content: space-between;

}

.social-media a {
  color: #EDEDED;
    padding: 0px 5px;
    opacity: 0.6;
  }
.social-media a:hover {
      color: #E6E6E6;
      opacity: 1;
    }
