.navbar-lewagon {
  justify-content: space-between;
  background-color: #EDEDED;
  height: 90px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}
.btn-login  {
    background: #4599E5;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s;
    border: 0;

    &:hover {
        background: #91A3B0;
        color: #3C3744;
        box-shadow: 0px 3px 5px #3C3744;
        padding: 0.25rem;

    }
}

a.nav-link {
  color: rgba(60, 55, 68, 1);
  font-size: 12px;
}


.dropdown-menu {
  background-color: rgba(60, 55, 68, 0.7);
  & a {
  color: #e4f2f7;
  &:hover {
    background-color: transparent;
    color: $blue;
  }
  }
}
