// Checkboxes design
.radio-input:checked + label {
  background-color: #e4f2f7 !important;
  color: #3C3744;
  opacity: 1;
}

.radio-label {
  background: #b7b7b7;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  text-align: center;
  width: 100%;
  &:hover {
    opacity: 1;
  }
}

.registration-img {
  background-image: linear-gradient(rgba(60,55,68,0.3), rgba(60,55,68,0.3)), url('https://images.unsplash.com/photo-1535743686920-55e4145369b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80');
  background-size: cover;
  background-position: center;
  width: 100%;
}

.registration-container {
  background-color: #3C3744;
  color: #EDEDED;
  height: 100%;
}

.signin-img {
  background-image: linear-gradient(rgba(60,55,68,0.3), rgba(60,55,68,0.3)), url('https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1694&q=80');
  background-size: cover;
  background-position: center;
  width: 100%;
}

.singin-links a {
  color: #EDEDED;
  &:hover {
    text-decoration: none;
    color: #E4F2F7;
  }
}

.dietary-registration-container {
  background-color: #E4F2F7;
  color: #EDEDED;
  height: 100%;
  .col-form-label {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
    color: $blue;
  }
}

.dietary-registration-container .form-check-label {
  color: #EDEDED !important;
}

.dietary-registration-container .form-check-inline {
  background-color: $blue;
  opacity: .3;
  width: 150px;
  height: 75px;
  margin: 2%;
  text-align: center;
  border-radius:5px;
  &:hover {
    opacity: 1;
  }
}
