<div class="container justify-content-center w-50">
      <h1 class="pt-4 text-center">Add a new Gym Class</h1>

      <%= render "form", gym_class: @gym_class %>
  <br>
  <div class="back-to-gyms">
    <%= link_to "Back to my gyms", my_gyms_path, class: "btn btn-primary" %>
  </div>
</div>
